.welcome{
    width: 90%;
    margin-left: 15px;
    padding-top: 65px;
}

html{
    font-family: sans-serif;
    line-height: 1.15;
}

.welcome h2{
    font-family: MuseoSans-500,Arial,Helvetica,sans-serif;
    font-size: 25px;
    margin: 25px 0 4px;
}

#form-anuncio{
    width: 35%;
    padding-left: 15px;
    padding-top: 150px;
}

