/*****************************************************************************************************

Estilização tela de login

*******************************************************************************************************/
#body-login{
    background-color: #ECECEC;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.pagina-login{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: #F08513;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #343A40;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: #000000;
}

.form . message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a{
    color: #FF0000;
    text-decoration: none;
    
    
}


.form .formulario-registro{
    display: none;
}


/*****************************************************************************************************

Demais telas

*******************************************************************************************************/

#menuItem{
    padding-left: 25%;
}
.ind-logo{position: absolute; width: 100%; left: 0; top: 35px; text-align: left;background-color:#ECECEC;}
    .ind-logo img{max-width: 100%;}


.Campo-pesquisa{
    align-content: center;
    width: 50%;
    height: auto;
    margin-left: 25%;
    text-align: center;
    margin-top: 7em;
   background-color: #ECECEC;
}



.btn-default{
    background: orange;
    width: 50px;
    padding: 12.5px;
}

.welcome{
    width: 90%;
    margin-left: 15px;
    padding-top: 85px;
    

    
}

.welcome h2{
    font-family: MuseoSans-500,Arial,Helvetica,sans-serif;
    font-size: 25px;
    margin: 25px 0 4px;
}


#form-anuncio{
    width: 35%;
    padding-left: 15px;
    padding-top: 50px;
}

#pagina-usuario{
     width: 35%;
    padding-left: 15px;
    
}


#minhaPaginacao{
    margin-left: 50%;
   
}







